*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Segoe UI", sans-serif;
    background-color: #608fab;
}
.navbar {
  background: #020617;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #1e293b;
  color: white;
}
.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  animation: fadeIn 0.6s ease-in-out;
}
.footer {
  text-align: center;
  padding: 15px;
  color: white;
  font-size: 14px;
}
.card {
  background: #020617;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 0 40px rgba(0,0,0,0.6);
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card h2 {
  margin-bottom: 20px;
  text-align: center;
}
.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 60px rgba(34, 197, 94, 0.25);
}

.form {
  display: grid;
  gap: 15px;
}

label {
  font-weight: 600;
}

input, select {
  padding: 10px;
  border-radius: 6px;
  border: none;
  background: #0f172a;
  color: #e5e7eb;
}

.btn-primary {
  margin-top: 15px;
  padding: 12px;
  border-radius: 8px;
  background: #608fab;
  color: #020617;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background: #1c74a7;
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(34, 197, 94, 0.6);
}
.day-card {
  background: #0f172a;
  padding: 15px;
  margin-top: 20px;
  border-radius: 8px;
  animation: fadeIn 0.5s ease-in-out;
}

.day-card h3 {
  margin-bottom: 10px;
  color: #0c84d7;
}

.day-card ul {
  list-style: none;
}

.day-card li {
  padding: 6px 0;
}

.btn-secondary {
  display: block;
  margin-top: 30px;
  text-align: center;
  color: #0c84d7;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

